commands:
  01_add_swap:
    command: |
      if [ ! -f /swapfile ]; then
        dd if=/dev/zero of=/swapfile bs=128M count=16
        chmod 600 /swapfile
        mkswap /swapfile
        swapon /swapfile
        echo '/swapfile swap swap defaults 0 0' >> /etc/fstab
      fi

container_commands:
  01_install_deps:
    command: "cd /var/app/staging && npm ci --omit=dev"
  02_fix_permissions:
    command: "chown -R webapp:webapp /var/app/staging"